/*
 * STM32F411RE Nucleo board device tree
 *
 * This is a simplified version of what Zephyr uses in:
 *   zephyr/dts/arm/st/f4/stm32f411Xe.dtsi
 *   zephyr/boards/st/nucleo_f411re/nucleo_f411re.dts
 */

/ {
    compatible = "st,nucleo-f411re";
    model = "STM32F411RE Nucleo";

    clocks {
        hsi: hsi {
            compatible = "fixed-clock";
            clock-frequency = <16000000>;
        };
    };

    soc {
        compatible = "st,stm32f411";

        rcc: rcc@40023800 {
            compatible = "st,stm32-rcc";
            reg = <0x40023800>;
        };

        gpioa: gpio@40020000 {
            compatible = "st,stm32-gpio";
            reg = <0x40020000>;
            clocks = <&rcc 0 0>;  /* AHB1, bit 0 */
        };

        gpiob: gpio@40020400 {
            compatible = "st,stm32-gpio";
            reg = <0x40020400>;
            clocks = <&rcc 0 1>;  /* AHB1, bit 1 */
        };

        gpioc: gpio@40020800 {
            compatible = "st,stm32-gpio";
            reg = <0x40020800>;
            clocks = <&rcc 0 2>;  /* AHB1, bit 2 */
        };

        usart2: serial@40004400 {
            compatible = "st,stm32-usart";
            reg = <0x40004400>;
            clocks = <&rcc 1 17>;  /* APB1, bit 17 */
            tx-pin = <2>;
            tx-af = <7>;
            tx-port = <&gpioa>;
            baudrate = <115200>;
            status = "okay";
        };

        quadspi: qspi@a0001000 {
            compatible = "st,stm32-qspi";
            reg = <0xa0001000>;
            clocks = <&rcc 0 1>;  /* AHB3, bit 1 (simplified) */
            status = "okay";

            flash0: w25q128@0 {
                compatible = "jedec,spi-nor";
                reg = <0>;
                jedec-id = <0xef 0x40 0x18>;
                size = <134217728>;  /* 128 Mbit = 16 MB */
                page-size = <256>;
                sector-size = <4096>;
                status = "okay";
            };
        };
    };

    buttons: gpio-keys {
        compatible = "gpio-keys";
        status = "okay";

        button-up {
            gpios = <&gpioc 0>;
            code = <103>;
        };
        button-down {
            gpios = <&gpioc 1>;
            code = <108>;
        };
        button-left {
            gpios = <&gpioc 2>;
            code = <105>;
        };
        button-right {
            gpios = <&gpioc 3>;
            code = <106>;
        };
        button-a {
            gpios = <&gpioc 4>;
            code = <30>;
        };
        button-b {
            gpios = <&gpioc 5>;
            code = <48>;
        };
    };

    chosen {
        console = <&usart2>;
    };

    leds: gpio-leds {
        compatible = "gpio-leds";
        status = "okay";

        led-up    { gpios = <&gpiob 0>; };
        led-down  { gpios = <&gpiob 1>; };
        led-left  { gpios = <&gpiob 2>; };
        led-right { gpios = <&gpiob 3>; };
        led-a     { gpios = <&gpiob 4>; };
        led-b     { gpios = <&gpiob 5>; };
    };
};
