menu "Drivers"

config CLOCK
    bool "Clock control"
    default y

config CLOCK_RP2040
    bool "RP2040 resets driver"
    default n
    depends on CLOCK

config UART
    bool "UART serial driver"
    default y
    depends on CLOCK

config UART_PL011
    bool "ARM PL011 UART (RP2040)"
    default n
    depends on UART

config GPIO
    bool "GPIO driver"
    default y

config GPIO_RP2040
    bool "RP2040 GPIO driver"
    default n
    depends on GPIO

config SPI
    bool "SPI bus driver"
    default y
    depends on CLOCK

config FLASH
    bool "W25Q NOR flash driver"
    default y
    depends on SPI

config GPIO_KEYS
    bool "GPIO keys (button input)"
    default y
    depends on GPIO

config GPIO_LEDS
    bool "GPIO LEDs (LED output)"
    default y
    depends on GPIO

endmenu
