menu "Kernel"

config SCHED
    bool "Scheduler"
    default y

config SYNC
    bool "Synchronization primitives"
    default y
    depends on SCHED

config MSGQ
    bool "Message queues"
    default y
    depends on SCHED

config USERSPACE
    bool "User/kernel separation (syscalls)"
    default n
    depends on SCHED

config ELFLOADER
    bool "ELF program loader"
    default n
    depends on SCHED && HEAP
    help
      Load and execute ELF binaries from the filesystem.

endmenu
